button .material-icons {
    margin-bottom: 12px;
}

.classified.ng-enter,.classified.ng-move{
    transition :0.4s all;
    opacity: 0;
}

.classified.ng-enter.ng-enter-active,.classified.ng-move.ng-enter-active{
    opacity :1;
}